.info {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:65px;

    @include breakpoint-up(large) {
        flex-direction: row;
        margin-left:20px;
        }

    &__image {
        width:300px;
        margin-bottom:30px;

        @include breakpoint-up(large) {
            width:615px;
            }
        
    }

    &__box {
        @include breakpoint-up(large) {
            margin-left:50px;  

            }   
    }

    a {
        color: $cyan;
        display:block;
        border-bottom:1px solid $cyan;
        width:151px;
    }

    
    &__arrow {
        margin-left:5px;
    }

}